<div class="list_container">
  <h1>Games</h1>
  <table>
    <thead>
      <th>Game ID</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Home Score </th>
      <th>Away Score</th>
      <th>Game Date</th>
    </thead>
    <tbody>
      {{#each games}}
      <tr>
        <td>{{game_id}}</td>
        <td>{{hometeam_name}}</td>
        <td>{{awayteam_name}}</td>
        <td>{{home_score}}</td>
        <td>{{away_score}}</td>
        <td>{{game_date}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="crud">
  <h2>Add Game</h2>

  <form class="" action="/games" method="post">
    <br>
    <p>
      Date: <input type="date" id="end" value="" min="1800-01-01" max="3000-12-31" name="gamedate">
    </p>
    <br>
    <p>
      Home Team: <select name="hometeam">
        {{#each teams}}
          <option value="{{id}}"> {{team_name}}</option>
        {{/each}}
      </select>
    </p>
    <br>
    <p>
      Away Team: <select name="awayteam">
        {{#each teams}}
          <option value="{{id}}"> {{team_name}}</option>
        {{/each}}
      </select>
    </p>
    <br>
    <p>
      Home Score: <input type="text" id="home_score" placeholder="Input home team's score here" name="homescore">
    </p>
    <br>
    <p>
      Away Score: <input type="text" id="away_score" placeholder="Input away score here here" name="awayscore">
    </p>
    <br>
    <input type="submit" value="Add Game">
  </form>


  <!-- <input type="submit" value="Delete Game">
  <input type="submit" value="Search Game">
  <input type="submit" value="Update Game"> -->

</div>
