<div class="list_container">
  <form id="search_game" action="" method="">
  <label> Search team to display games:</label>
  <input
    id="game_search_string"
    type="text"
    name="game_search_string"
    value=""
    placeholder="Enter Team Name"
    />
  <input type="button" value="Search" onclick="searchGame()" />
  </form>
  <h1>Games</h1>
  <table>
    <thead>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Home Score </th>
      <th>Away Score</th>
      <th>Game Date</th>
    </thead>
    <tbody>
      {{#each games}}
      <tr>
        <td>{{hometeam_name}}</td>
        <td>{{awayteam_name}}</td>
        <td>{{home_score}}</td>
        <td>{{away_score}}</td>
        <td>{{gdate}}</td>
        <td><button onclick = "deleteGame({{game_id}})">Delete</button></td>
        <td><a href="/games/{{game_id}}">Update</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="crud">
  <h2>Add Game</h2>

  <form class="" action="/games" method="post">
    <p>Date: <input type="date" id="end" value="" min="1800-01-01" max="3000-12-31" name="gamedate"></p>
    <p>
      Home Team: <select name="hometeam">
        {{#each teams}}
          <option value="{{id}}"> {{team_name}}</option>
        {{/each}}
      </select>
    </p>
    <p>
      Away Team: <select name="awayteam">
        {{#each teams}}
          <option value="{{id}}"> {{team_name}}</option>
        {{/each}}
      </select>
    </p>
    <p>Home Score: <input type="number" min="0" id="home_score" placeholder="Home points" name="homescore"></p>
    <p>Away Score: <input type="number" min="0" id="away_score" placeholder="Away points" name="awayscore"></p>
    <input type="submit" value="Add Game">
  </form>

</div>
