<div class="list_container">
  <h1>Player Game Statistics</h1>
  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Game Date</th>
      <th>Points</th>
      <th>Assists</th>
      <th>Rebounds</th>
    </thead>
    <tbody>
      {{#each playerstats}}
      <tr>
        <td>{{fname}}</td>
        <td>{{lname}}</td>
        <td>{{game_date}}</td>
        <td>{{points}}</td>
        <td>{{assists}}</td>
        <td>{{rebounds}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="crud">
  <h2>Add Player Statistic</h2>

  <form class="" action="/playerstats" method="post">
    <br>
    <p>
      Player: <select name="player">
        {{#each players}}
          <option value="{{player_id}}">{{pfname}} {{plname}}</option>
        {{/each}}
      </select>
    </p>
    <br>
    <p>
      Game: <select name="game">
        {{#each games}}
          <option value="{{game_id}}">{{hometeam_name}} VS {{awayteam_name}}, {{gdate}}</option>
        {{/each}}
      </select>
    </p>
    <br>
    <p>
      Points: <input type="number" id="points" placeholder="points" name = "points" step="1" min="-1000">
    </p>
    <br>
    <p>
      Assists: <input type="number" id="assists" placeholder="assists" name = "assists" step="1" min="0">
    </p>
    <br>
    <p>
      Rebounds: <input type="number" id="rebounds" placeholder="rebounds" name = "rebounds" step="1" min="0">
    </p>
    <br>
    <input type="submit" value="Add Player">
  </form>





</div>
