<div class="list_container">
  <h1>Players</h1>
  <table>
    <thead>
      <th>Team</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Number</th>
      <th>Birthdate</th>
      <th>Position</th>
    </thead>
    <tbody>
      {{#each players}}
      <tr>
        <td>{{team_name}}</td>
        <td>{{fname}}</td>
        <td>{{lname}}</td>
        <td>{{player_number}}</td>
        <td>{{player_birthdate}}</td>
        <td>{{position}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="crud">
  <h2>Add Player</h2>

<form class="" action="/players" method="post">
  <br>
  <p>
    First Name: <input type="text" id="player_fname" placeholder="Input player name here" name="fname">
  </p>
  <br>
  <p>
    Middle Name: <input type="text" id="player_mname" placeholder="Input player number here" name = "mname">
  </p>
  <br>
  <p>
    Last Name*: <input type="text" id="player_lname" placeholder="Input player name here" name = "lname">
  </p>
  <br>
  <p>
    Team: <select name="team">
      {{#each teams}}
        <option value="{{id}}"> {{team_name}}</option>
      {{/each}}
    </select>
  </p>
  <br>
  <p>
    Jersey Number: <input type="text" id="player_number" placeholder="Input player number here" name = "number">
  </p>
  <br>
  <p>
    Birthdate: <input type="date" id="birthdate" name = "birthdate" value="">
  </p>
  <br>
  <p>
    Position: <input type="text" id="player_number" placeholder="Input player number here" name = "position">
  </p>
  <p><span class="notes">*indicates a required field</span></p>
  <br>
  <input type="submit" value="Add Player">
</form>


  <!-- <input type="submit" value="Delete Player">
  <input type="submit" value="Search Player">
  <input type="submit" value="Update Player"> -->

</div>
