<div class="list_container">
  <h1>Teams</h1>
  <table>
    <thead>
      <th>Division</th>
      <th>Home Town</th>
      <th>Team</th>
    </thead>
    <tbody>
      {{#each teams}}
      <tr>
        <td>{{div_name}}</td>
        <td>{{hometown}}</td>
        <td>{{team_name}}</td>
        <td><button onclick = "deleteTeam({{team_id}})">Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="crud">
  <h2>Add Team</h2>

  <form class="" action="/teams" method="post">
    <p>
    Team Name: <input type="text" id="team_name" placeholder="Input team name here" name="team_name">
    </p>
    <p>
    Hometown: <input type="text" id="hometown" placeholder="Input team hometown here" name="hometown">
    </p>
    <p>
      Division <select name="division">
        {{#each divisions}}
          <option value="{{id}}"> {{div_name}}</option>
        {{/each}}
      </select>
    </p>
    <input type="submit" value="Add Team">
  </form>





</div>
