
<div class="crud">
  <h2>Update {{player.fname}} {{player.lname}}</h2>

  <form class="update-player" action="/players" method="post">
    <p>
      First Name: <input type="text" name="fname" value="{{player.fname}}">
    </p>
    <p>
      Middle Name: <input type="text" name = "mname" value="{{player.mname}}">
    </p>
    <p>
      Last Name*: <input type="text" name = "lname" value="{{player.lname}}">
    </p>
    <p>
      Team: <select name="team" id="team-selector">
        {{#each teams}}
          <option value="{{id}}"> {{team_name}}</option>
        {{/each}}
      </select>
    </p>
    <p>
      Jersey Number: <input type="text" name = "number" value="{{player.number}}">
    </p>
    <p>
      Birthdate: <input type="date" name = "birthdate" value="{{player.birthdate}}">
    </p>
    <p>
      Position: <input type="text" name = "position" value="{{player.position}}">
    </p>
    <p><span class="notes">*indicates a required field</span></p>
    <input type="submit" value="Add Player">
  </form>

  <script defer>selectTeam({{person.team_id}})</script>

</div>
