<div class="crud">
  <h2>Update Game</h2>

  <form id="update-game" action="/games" method="post">
    <p>Date: <input type="date" min="1800-01-01" max="3000-12-31" name="game_date" value = "{{game.gamedate}}"></p>
    <p>
      Home Team: <select name="hometeam" id="home-selector">
        {{#each teams}}
          <option value="{{id}}"> {{team_name}}</option>
        {{/each}}
      </select>
    </p>
    <p>
      Away Team: <select name="awayteam" id="away-selector">
        {{#each teams}}
          <option value="{{id}}"> {{team_name}}</option>
        {{/each}}
      </select>
    </p>
    <p>Home Score: <input type="number" name="home_score" value="{{game.home_score}}"></p>
    <p>Away Score: <input type="number" name="away_score" value="{{game.away_score}}"></p>
  </form>
  <button type="button" onclick="updateGame({{game.game_id}})">Update Team</button>
  <script defer>selectHomeTeam({{game.home_team}});</script>
  <script defer>selectAwayTeam({{game.away_team}});</script>

</div>
